block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Project Alpha Dashboard
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
        link(rel="stylesheet", href="/assets/css/jquery-confirm.min.css")
        script(src="/assets/js/thenBy.min.js")
        script(src="/assets/js/jquery-3.3.1.slim.min.js")
        script(src="/assets/js/popper.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/moment.min.js")
        script(src="/assets/js/vue.global.js")
        script(src="/assets/js/jquery-confirm.min.js")
    body
        div#app
            block layout-content

        script(src="/assets/js/scripts.js")